m5-stack-audio-visualizer/.vs/
m5-stack-audio-visualizer/src-sdl/x64/
m5-stack-audio-visualizer/x64/
sdl-audio-player/x64/
sdl-audio-player/Debug/
sdl-audio-player/.vs/m5-stack-audio-player/v16/ipch/AutoPCH/4fc7ff988241f688/MAIN.ipch
