m5-stack-audio-visualizer/.vs/
m5-stack-audio-visualizer/src-sdl/x64/
m5-stack-audio-visualizer/x64/
sdl-audio-player/x64/
sdl-audio-player/Debug/
sdl-audio-player/.vs/m5-stack-audio-player/v16/ipch/AutoPCH/4fc7ff988241f688/MAIN.ipch
m5-stack-audio-visualizer/src-sdl/obj/
audio-a2dp/.vs/
audio-visualizer/.vs/
audio-visualizer/x64/
audio-visualizer/src-sdl/x64/
sound/mic-input/.vscode/
sound/sound-analyzer/.vscode/
tft_espi-sdl-emulation/.vs/
tft_espi-sdl-emulation/x64/
